<link rel="stylesheet" href="/CSS/signinSignup.css">

<div class="background">
    <aside>
        
        <a href="/user/signIn"><button class="btn-right" type="submit"><i><b>Already register? click here</b></i></button></a>
        <a href="/user/signIn"><button class="btn-right" type="submit"><i><b>SIGN UP</b></i></button></a>
        <div class="mt-5">
            <form action="/user/createUser" method="POST">
                <div>
                    <label for="name">Name:</label><br>
                    <input type="text" name="userName" id="name" placeholder="Enter Name">
                </div>
                <div>
                    <label for="email">Email:</label><br>
                    <input type="text" name="email" id="email" placeholder="Enter Your email" required>
                </div>
                <div>
                    <label for="password">Password:</label><br>
                    <input type="password" name="password" id="password" placeholder="Password" required>
                </div>
                <div>
                    <label for="confirm_password">Confirm Password:</label><br>
                    <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" >
                </div>
                
                <div>
                    <label for="status" class="fontSize">Options</label><br>
                        <span>
                            <!-- dropdown menu -->
                            <select name="status" class="dropdown-items">
                                <option value="employee">Employee</option>
                                <option value="admin">Admin</option>
                            </select>
                        </span>
                </div>
                <div>
                    <button class="btn" type="submit">Sign Up</button>
                    
                </div>
            </form>
        </div>
    </aside>
    
    <div>
        <div>
            <h2 class="center"  style="color: #354259;">Employee Review System</h2>
        </div>
        <img src="https://thumbs.dreamstime.com/z/hand-take-white-ball-red-inscription-performance-management-coach-concept-wordcloud-words-color-76683065.jpg" alt="image">
    </div>
</div>